<!--Esta info pasa a main.hbs como si fuera un modulo importado-->
<div class="container">
<h1>Agregue URLs</h1>
<!-- Llamamos al componente Form.hbs -->
{{> Form}}

<!--Apoyados de un helper de hbs 
https://handlebarsjs.com/guide/block-helpers.html#simple-iterators
en este caso interamos para index.js en el app.get de urls -->

<!--Importamos como modulo Card.hbs
renombramos la prop de this para manejarlo como item en Card.hbs-->
{{#each urls}}
	{{> Card item=this}}
{{/each}}

</div>